<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario de Cliente</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}">
</head>
<body>
    <div th:replace="~{navbar :: nav1}"></div>
<div class="container mt-4">
    <h1>Formulario Clientes</h1>

<h1 th:text="${customer.id == null} ? 'Crear Cliente' : 'Editar Cliente'"></h1>
<form method="POST" th:object="${customer}" th:action="@{/customers}">
    <input type="hidden" id="id" th:field="*{id}"/>
    <div class="mb-3">
        <label for="nombre" class="form-label">Nombre:</label>
        <input type="text" id="nombre" th:field="*{nombre}" class="form-control" required/>
    </div>
    <div class="mb-3">
        <label for="apellido" class="form-label">Apellido:</label>
        <input type="text" id="apellido" th:field="*{apellido}" class="form-control" required/>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="text" id="email" th:field="*{email}" class="form-control" required/>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="text" id="password" th:field="*{password}" class="form-control" required/>
    </div>

    <!-- Selector múltiple de movies que muestre las películas que ya tiene permitiendo seleccionar o deseleccionar -->
    <h2>Añadir Películas al Usuario</h2><!--es selector individual, TODO: que sea multiple-->
    <form method="POST" th:action="@{/customers/{customer.id}/add-movies(customerId=${customer.id})}">
        <div class="mb-3">
            <label for="movies" class="form-label">Seleccionar Películas:</label>
            <select id="movies" name="movies[]" class="form-select" multiple>
                <option th:each="movie : ${movies}"
                        th:value="${movie.id}"
                        th:text="${movie.name}">
                        <!--th:selected="${selectedMovies != null && selectedMovies.contains(movie.id)}"-->
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">
            <i class="fas fa-plus"></i> Añadir Películas
        </button>
    </form>

    </form>

    <button type="submit" th:if="${customer.id}" class="btn btn-primary">
        <i class="fas fa-save"></i>Guardar modificación</button>

    <button type="submit" th:unless="${customer.id}" class="btn btn-primary">
        <i class="fas fa-save"></i>Guardar nuevo </button>
    <a th:href="@{/customers}" class="btn btn-secondary">
        <i class="fas fa-arrow-left"></i>
        Volver atrás
    </a>
</form>
</div>

<div th:replace="~{footer :: footer1}"></div>

<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/font-awesome/js/all.min.js}"></script>

</body>
</html>
