<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalle del Cliente</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}">
</head>
<body>
    <div th:replace="~{navbar :: nav1}"></div>

    <div class="container mt-4">
        <h1 id="h1_customer_detail" class="mb-4">Datos del Cliente</h1>

        <div th:if="${customer}">
        <div class="card p-4 shadow-sm">
            <div class="mb-3">
                <p><strong>ID:</strong> <span id="customer_id" th:text="${customer.id}"></span></p>
            </div>
            <div class="mb-3 card-title">
                <p ><strong>Nombre:</strong> <span id="nombre" th:text="${customer.nombre}"></span></p>
            </div>
            <div class="mb-3 card-title">
                <p ><strong>Apellido:</strong> <span id="apellido" th:text="${customer.apellido}"></span></p>
            </div>
            <div class="mb-3 card-text">
                <p ><strong>Email:</strong> <span id="email" th:text="${customer.email}"></span></p>
            </div>
            <div class="mb-3 card-text">
                <p ><strong>Password:</strong> <span id="password" th:text="${customer.password}"></span></p>
            </div>
            <h2 id="customer_movie"> Ver películas del usuario</h2>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center" th:each="movie : ${customer.movies}">
                    <div>
                        <strong>Nombre:</strong> <span id="customer_movie_name" th:text="${movie.name}"></span> |
                        <strong>Duración:</strong> <span id="customer_movie_duration" th:text="${movie.duration}"></span> minutos |
                        <strong>Año:</strong> <span id="customer_movie_year" th:text="${movie.year}"></span>
                    </div>
                    <!--las peliculas se editan en el form-->
                    <!--<form th:action="@{/customers/{customerId}/remove-movie/{movieId}(customerId=${customer.id}, movieId=${movie.id})}" method="post" style="display: inline;">
                        <button type="submit" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash"></i> Desasociar
                        </button>
                    </form>-->
                </li>
            </ul>


<!--    Las peliculas se crean en el formulario de peliculas, que se asocian a un select id categoria-->

            <h2 id="customer_valoracion">Ver valoraciones usuario</h2>
<!--    Las valoraciones se crean en el formulario de valoraciones, que se asocian a un select id usuario y a un select id pelicula-->
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center" th:each="valoracion : ${customer.valoraciones}">
                    <div>
                        <strong>Película:</strong> <span id="customer_valoracion_movie" th:text="${valoracion.movie.name}"></span> |
                        <strong>Puntuación:</strong> <span id="customer_valoracion_puntuacion" th:text="${valoracion.puntuacion}"></span> |
                        <strong>Comentario:</strong> <span id="customer_valoracion_comentario" th:text="${valoracion.comentario}"></span>
                    </div>
                </li>
            </ul>
            <br><br><br>
            <div>
                <a id="editBtn_customer" th:href="@{/customers/update/{id}(id=${customer.id})}" class="btn btn-primary">
                    <i class="fas fa-edit"></i>
                    Editar</a>
                <a id="deleteBtn_customer" th:href="@{/customers/delete/{id}(id=${customer.id})}" class="btn btn-danger">
                    <i class="fas fa-trash"></i>
                    Borrar</a>
            </div>
            <div id="customerNotExist" th:unless="${customer}">
                <p>No existe el usuario</p>
            </div>
            <div class="mt-3">
                <a id="backBtn_customer_list" th:href="@{/customers}" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Volver a la lista de clientes
                </a>
            </div>
        </div>
    </div>
    </div>

    <div th:replace="~{footer :: footer1}"></div>

    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/font-awesome/js/all.min.js}"></script>
</body>
</html>
