<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<footer th:fragment="footer1" class="bd-footer py-3 py-md-4 mt-5 bg-success text-white">
    <div class="container py-3 py-md-4 px-3 px-md-2">

        <div class="row">
            <div class="col-lg-3 mb-3">
                <a class="d-inline-flex align-items-center link-light text-decoration-none" href="#" aria-label="App">
                    <img th:src="@{/logo-image.jpg}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">

                    <span class="ms-3">Movies</span>
                </a>
                <ul class="list-unstyled small text-white-50">
                    <li>Desarrollado Por Ana Cascante, Ginés Ochoa, Daniel Miranda.</li>
                    <li>Código licenciado bajo <a href="https://opensource.org/license/mit" class="text-white">MIT</a>.</li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
                <h5>Enlaces</h5>
                <ul class="list-unstyled">
                    <li><a class="text-decoration-none text-white" href="/"><i class="fas fa-home"></i> Inicio</a></li>
                    <li><a class="text-decoration-none text-white" href="/customers"><i class="fas fa-user"></i> Usuarios</a></li>
                    <li><a class="text-decoration-none text-white" href="/categorias"><i class="fas fa-tags"></i> Categorias</a></li>
                    <li><a class="text-decoration-none text-white" href="/movies"><i class="fas fa-film"></i> Peliculas</a></li>
                    <li><a class="text-decoration-none text-white" href="/valoraciones"><i class="fas fa-star"></i> Valoraciones</a></li>
                </ul>
            </div>
            <div class="col-6 col-lg-2 mb-3">
                <h5>Otros lugares de interés</h5>
                <ul class="list-unstyled">
                    <li><a class="text-decoration-none text-white" href="https://github.com/certidevs/testing_g2_movies_24"><i class="fab fa-github"></i> Proyecto en GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
