<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalle de Película</title>
</head>
<body>
<h1>Detalle de la Película</h1>
<div>
    <p><strong>ID:</strong> <span th:text="${movie.id}"></span></p>
    <p><strong>Nombre:</strong> <span th:text="${movie.name}"></span></p>
    <p><strong>Duración:</strong> <span th:text="${movie.duration}"></span> minutos</p>
    <p><strong>Año:</strong> <span th:text="${movie.year}"></span></p>

    <div th:if="${movie.customers != null}">
        <h2>Clientes Asociados</h2>
        <ul>
            <li th:each="customer : ${movie.customers}">
                <p><strong>Nombre:</strong> <span th:text="${customer.nombre}"></span></p>
                <p><strong>Apellido:</strong> <span th:text="${customer.apellido}"></span></p>
                <p><strong>Email:</strong> <span th:text="${customer.email}"></span></p>
            </li>
        </ul>
    </div>
</div>

<a href="/movies">Volver a la lista de películas</a>
</body>
</html>
<!---->