<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title >Detalle de Película</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}">
</head>
<body>
    <div th:replace="~{navbar :: nav1}"></div>

    <div class="container mt-4">
        <h1 id="h1_movie_detail" class="mb-4">Datos de la Película</h1>

        <div class="card p-4 shadow-sm">
            <div class="mb-3">
                <p><strong>ID:</strong> <span id="movie_id" th:text="${movie.id}"></span></p>
            </div>
            <div class="mb-3">
                <p ><strong>Nombre:</strong> <span id="name" th:text="${movie.name}"></span></p>
            </div>
            <div class="mb-3">
                <p ><strong>Duración:</strong> <span id="duration" th:text="${movie.duration}"></span> minutos</p>
            </div>
            <div class="mb-3">
                <p ><strong>Año:</strong> <span id="year" th:text="${movie.year}"></span></p>
            </div>
            <div class="mb-3">
                <p ><strong>Categoría:</strong> <span id="movie_category" th:text="${movie.categoria.nombre}"></span></p>
            </div>
            <div class="mb-3">
                <p><strong>Precio de Alquiler por Día:</strong> <span id="rental_price_per_day" th:text="${movie.rentalPricePerDay}"></span> €</p>
            </div>
            <div class="mb-3">
                <p><strong>Disponible:</strong> <span id="available" th:text="${movie.available} ? 'Sí' : 'No'"></span></p>
            </div>
            <!-- Botón de añadir a películas del usuario autenticado, necesario Spring security -->
            <h2 id="movie_valoracion">Ver valoraciones pelicula</h2>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center" th:each="valoracion : ${movie.valoraciones}">
                    <div>
                        <strong>Usuario:</strong> <span id="movie_valoracion_customer_name" th:text="${valoracion.customer.nombre}"></span> |
                        <strong>Puntuación:</strong> <span id="movie_valoracion_puntuacion" th:text="${valoracion.puntuacion}"></span> |
                        <strong>Comentario:</strong> <span id="movie_valoracion_comentario" th:text="${valoracion.comentario}"></span>
                    </div>
                </li>
            </ul>
        </div>

        <!-- mini formulario para que el usuario autenticado con spring security pueda
        agregar una valoracion a esta película -->
        <br><br><br>
        <div>
            <a id="editBtn_movie" th:href="@{/movies/update/{id}(id=${movie.id})}" class="btn btn-primary">
                <i class="fas fa-edit"></i>
                Editar</a>
            <a id="deleteBtn_movie" th:href="@{/movies/delete/{id}(id=${movie.id})}" class="btn btn-danger">
                <i class="fas fa-trash"></i>
                Borrar</a>
        </div>
        <div id="movieNotExist" th:unless="${movie}">
            <p>No existe la película</p>
        </div>
        <div class="mt-4">
            <a id="backBtn_movie_list" th:href="@{/movies}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Volver a la lista de películas
            </a>
        </div>
    </div>

    <div th:replace="~{footer :: footer1}"></div>

    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/font-awesome/js/all.min.js}"></script>
</body>
</html>
